@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);

*{
    font-family: 微軟正黑體;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

// 載入設計提供的樣式
@import "./home.scss";
@import "./bookList.scss";
