$color_blue: rgb(107, 164, 230);
$color_blue_dark: rgb(73, 131, 197);
$color_white:#fff;
$color_dark_dark:#292d31;
$color_dark:#343a40;
$color_dark_gray:rgb(128, 128, 128);
$color_dark_clear_gray:#eee;


@mixin size($w,$h){
    width: $w;
    height: $h;
}
@mixin flex($j,$ac){
    display: flex;
    justify-content: $j;
    align-items: $ac;
}
@mixin nameInForm($w) {
    width: $w;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-center{
    @include flex(center,center);
}
.over-size{
    @include size(100vw,100vh);
}
// body{
//     background-color: $color_dark;
// }
